body {
	background-image: url("https://bloximages.chicago2.vip.townnews.com/magicvalley.com/content/tncms/assets/v3/editorial/7/42/74242129-e6ca-56b4-8719-dbb7da87af54/577867cf7c537.image.jpg?resize=1200%2C675");
}

#productCard {
	background-color: white;
	height: 200px;
	width: 300px;
}

#cardRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.boxShaddow
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.boxShaddow:before, .boxShaddow:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
} 
.boxShaddow:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}